<ion-view>
    <ion-content class="intro" scroll="false" has-bouncing="false">
        <ion-slide-box introSliderHeight on-slide-changed="slideChanged(index)" class="introSlider" scroll="false" does-continue="true">
            <ion-slide class="intro1">
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <h1>
                            SEND A DRINK<br>ACROSS THE<br>ROOM OR<br>ACROSS THE<br>COUNTRY</h1>
                        <h3><span>+</span> Purchase and send a beverage to anyone instantly.</h3>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="intro2">
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <h1>TWEET IT!</h1>
                        <h3><span>+</span> 
                            Use Twitter to send & receive beverages with friends, colleagues, and perhaps the object of your affection.
                        </h3>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="intro3">
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <h1>SET THE<br>SCENE</h1>
                        <h3><span>+</span> Choose from a variety of ever-growing premium venues.</h3>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="intro4">
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <h1>CHOOSE THEIR<br>LIBATION</h1>
                        <h3><span>+</span> How about a glass of champagne?</h3>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="intro5">
                <div class="row">
                    <div class="col col-90 col-offset-5">
                        <h1>BEGIN BY SIGNING IN OR SIGNING UP BELOW</h1>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>